@font-roboto: 'Roboto', sans-serif;
@cor-fundo: #f5f6fa;
@cor-header: #182C61;
@cor-texto-menu: #fff;
@cor-botao: #44bd32;
@cor-botao-hover: #4cd137;
@border-radius: 8px;
@max-width-container: 1024px;

@breakpoint-desktop: 1023px;
@breakpoint-tablet: 767px;